<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Quiz</title>
</head>
<body>
  <Center>
    <h1>Type your questions in the input flieds!</h1>
    <Form  action="store_question" method="POST">
      {% csrf_token %}
      <h3 style="margin-top: 60px;"> Question: </h3>
      <input style="width: 500px; height: 30px; font-size: 20px;" type="text" name="question", placeholder="enter the question">
      <h3> Option 1: </h3>
      <input style="width: 500px; height: 30px; font-size: 20px;" type="text" name="option1", placeholder="enter the option1">
      <h3> Option 2: </h3>
      <input style="width: 500px; height: 30px; font-size: 20px;" type="text" name="option2", placeholder="enter the option2">
      <h3> Option 3: </h3>
      <input style="width: 500px; height: 30px; font-size: 20px;" type="text" name="option3", placeholder="enter the option3">
      <h3> Enter the answer option </h3>
      <input style="width: 500px; height: 30px; font-size: 20px;" type="text" name="answer", placeholder="answer eg: 1">
      <h3> Click Submit to move to next question </h3>
      <input style="width: 500px; height: 30px; font-size: 20px;" type="submit">
    </Form>
  </Center>
  
</body>
</html>