{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <center>
    <h1 style="margin-top: 50px;"> Successfully commpleted the quiz</h1>
    {% if score >= 50 %}
      <h3>Your are passed {{score}}</h3>
    {% else %}
        <h3>Your are Failed {{score}}</h3>
    {% endif %}   
    <h3>if like to take a test again</h3>
    <button onclick="window.location.href='http://127.0.0.1:8000/test/';"><h3>Take test</h3></button> 
  </center>
</body>
</html>